@import 'tailwindcss';

@theme {
  --font-sans: 'Anza Regular', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-serif:
    'PPNeueMachina-InktrapRegular', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-purple: #d9c2fa;
  --color-orange: #ff4f14;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* This is to avoid the dumb warning in lighthouse*/
    font-size: inherit;
    font-weight: inherit;
  }
  h1,
  h2 {
    @apply font-sans uppercase text-8xl sm:text-8xl text-center mb-4;
  }
  p {
    @apply mb-4;
  }
  section a {
    @apply border pt-2 pb-1 px-5 uppercase hover:bg-orange hover:text-purple hover:border-purple transition-colors;
  }
}
